.users-table{
    margin-top: 20px;
}
.alert-section .alert-box{
    height: auto;
}

.edit-user-wrapper .edit-user-section,
.alert-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.edit-email-wrapper {
     display: flex;
     flex-direction: column;
}
.admin-content-models {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:white;
}
.category-content-section{
    height:600px;
    overflow-y:scroll;
    margin-top:5rem;
    display: flex;
    justify-content: center;
    background-color: white;
}

.category-form{
    margin:10px 0 10px 0;
}
.article-section{
    margin-top:20px;
    margin-bottom:20px;
}
.category-content-section .parent:hover{
    cursor: pointer;
}
.no-categories{
    margin-top:12px;
}
.category-content-section ul{
    list-style-type: none;
}
.category-article {
    margin-bottom: 80px;
}
/************** post management category menu dropdown hover style ****************/
.category-menu-article ul .dropdown-item{
    display: none;
}
.category-menu-article  .dropdown:hover .dropdown-menu{
    display: block;
}
.child-category {
    list-style: none;
}
.category-menu-article a.category-item
{
    color: #0a0a0a;
}
.dropdown-menu .child-cat > .child-category:hover{
    background-color: #e1e3e9;
}
.dropdown-menu .child-cat > .child-category{
    height:2.5rem;
}
.dropdown-menu .child-cat > li > .category-item{
    line-height:normal;
    padding-right:1rem;
}
.list-course-content,
.list-post-content{
    margin-top:1.5rem;
    height: 420px;
}
.list-course-content .course-section,
.list-post-content .article-section{
    min-height:280px;
}
.category-dropdown-article{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.list-course-content .paginate-sec,
.list-post-content .paginate-sec{
    margin-top:2rem;
}
.admin-add-course,
.admin-add-post{
    margin-top: 40px;
}
.admin-add-course > div,
.admin-add-post > div{
    padding:14px 0 14px 0;
}
.list-season .fa-edit,
.list-course-lesson .fa-edit,
.list-course-content .fa-edit,
.list-post-content .fa-edit,
.users-table .fa-edit{
    font-size:2.3rem;
}
.list-season .fa-remove,
.list-course-lesson .fa-remove,
.list-course-content .fa-list-alt ,
.list-course-content .fa-save,
.list-course-content .fa-remove,
.list-post-content .fa-remove,
.users-table .fa-remove{
    font-size:2.7rem;
}
.list-season .fa-remove:hover,
.list-course-lesson .fa-remove:hover,
.list-course-content .fa-remove:hover,
.list-post-content .fa-remove:hover,
.users-table .fa-remove:hover
{
    cursor: pointer;
}

.btn-save-model{
    margin-top: 2rem;
}
.btn-return{
    margin-top: 1rem;
}
.details-textarea{
    direction: rtl;
    white-space: normal
}
.row-add-lesson{
    margin-top: 20px;


}
.list-course-lesson{
    overflow: scroll;
    height:200px;
}
.alert-section-edit-lesson,
.alert-section-lesson{
    height: 120px;
}
.alert-section-lesson .alert-box{
    margin-top: 0.4rem;
}

.courses-comments{
    background:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.posts-section{
    background:whitesmoke;
    display: flex;
    justify-content: center;
}
.courses-comments .select-category-comment{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #0c1021;
}
.courses-comments .list-courses{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow-y: scroll;
}
.comments-wrapper{
    margin-top:5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.posts-section,
.comments-wrapper .list-comments{
  height: 600px;
  overflow-y: scroll;
}

/************** season section **********/

.alert-section-season{
    height: 150px;
    display: flex;
    justify-content: center;
}
.season_wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.season_wrapper .list-season{
    margin-top:3rem;
    height: 250px;
    overflow-y: scroll;
}
.course-title-form{
    margin-bottom:2rem;
}
/************** media query *************/

