
.users-table .fa-edit{
    font-size:2.3rem;
}
.users-table .fa-remove{
    font-size:2.7rem;
}
.users-table .fa-remove:hover
{
    cursor: pointer;
}
.users-table{
    margin-top: 20px;
}
.alert-section .alert-box{
    height: 100px;
}
.edit-user-wrapper .edit-user-section,
.alert-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.edit-email-wrapper {
     display: flex;
     flex-direction: column;
}
.admin-content-models {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
