
.users-table .fa-edit{
    font-size:2.3rem;
}
.users-table .fa-remove{
    font-size:2.7rem;
}
.users-table .fa-remove:hover
{
    cursor: pointer;
}
.users-table{
    margin-top: 20px;
}
.alert-section .alert-box{
    height: 100px;
}
.edit-user-wrapper .edit-user-section,
.alert-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.edit-email-wrapper {
     display: flex;
     flex-direction: column;
}
.admin-content-models {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:white;
}
.category-content-section{
    height:600px;
    overflow-y:scroll;
    margin-top:5rem;
    display: flex;
    justify-content: center;
    background-color: white;
}
.article-section,
.category-form{
    margin:10px 0 10px 0;
}
.category-content-section .parent:hover{
    cursor: pointer;
}
.no-categories{
    margin-top:12px;
}
.category-content-section ul{
    list-style-type: none;
}
.category-article {
    margin-bottom: 80px;
}

.category-article-content{
    margin:10px 0 10px 0;
}
/************** post management category menu dropdown hover style ****************/
.category-article ul .dropdown-item{
    display: none;
}
.category-article  .dropdown:hover .dropdown-menu{
    display: block;
}
.child-category {
    list-style: none;
}
.category-article a.category-item
{
    color: #0a0a0a;
}
.dropdown-menu .child-cat > .child-category:hover{
    background-color: #e1e3e9;
}
.dropdown-menu .child-cat > .child-category{
    height:2.5rem;
}
.dropdown-menu .child-cat > li > .category-item{
    line-height:normal;
    padding-right:1rem;
}
